<div class="row">
  <div class="col-md-12">
    <div class="head-blue3">
      <div class="row">
        <div class="head-md col-xs-4 col-xs-offset-4"></div>
      </div>
    </div>
    <div class="block clearfix">
      <div class="col-md-12">
        <p class="block-p pull-left"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;军友会</p>
        <ol class="breadcrumb pull-right">
          <li>所在位置:</li>
          <li><a href="<%= root_path %>">首页</a></li>
          <li class="active">军友会</li>
        </ol>
      </div>
      <div class="col-xs-12 courses-nav">
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default courses-link active">全部帖子</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default courses-link">互帮互助</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default courses-link">资源共享</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default courses-link">关于军转干</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default courses-link">考证培训</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default courses-link">其他</a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"> 
        <!-- <div class="gray-head" style="padding: 0 60px;">
          <div class="row">
            <div class="col-xs-6" style="text-indent: 60px;">公司名称</div>
            <div class="col-xs-3" style="text-indent: 30px;">职位名称</div>
            <div class="col-xs-3 text-center">发布时间</div>
          </div>
        </div> -->
        <%= image_tag "soldier1.png", width: "100%" %>
      </div>
    </div>
    <div class="row parties-soldier2">
      <div class="col-md-12">
        <%= image_tag "soldier2.png", width: "100%" %>
      </div>
    </div>
  </div>
</div>