<div class="row">
  <div class="col-md-12">
    <div class="head-blue3">
      <div class="row">
        <div class="head-md col-xs-4 col-xs-offset-4"></div>
      </div>
    </div>
    <div class="block clearfix">
      <div class="col-md-12">
        <p class="block-p pull-left"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;军友会</p>
        <ol class="breadcrumb pull-right">
          <li>所在位置:</li>
          <li><a href="<%= root_path %>">首页</a></li>
          <li class="active">军友会</li>
        </ol>
      </div>
      <div class="col-xs-12 courses-nav">
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default active">全部帖子</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default">互帮互助</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default">资源共享</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default">关于军转干</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default">考证培训</a></div>
        <div class="col-xs-2"><a href="#" type="button" class="btn btn-default">其他</a></div>
      </div>
    </div>
  </div>
</div>