<!-- line 1 -->
<div class="row">
	<div class="col-md-4">
		<div class="block">政策指南</div>
	</div>
	<div class="col-md-4">
		<div class="block">考证培训信息</div>
	</div>
	<div class="col-md-4">
		<div class="block">就业信息</div>
	</div>
</div>
<!-- line 2 -->
<div class="row">
	<div class="col-md-12">
		<div class="title-blue3">
			<div class="row">
				<div class="blue2 col-xs-4 col-xs-offset-4"></div>
				<div class="blue3 col-xs-4 text-right"><%= link_to "更多>>", "#" %></div>
			</div>
		</div>
		<div class="block">创业众筹</div>
	</div>
</div>
<!-- line 3 -->
<div class="row">
	<div class="col-md-4">
		<div class="title-blue">
			<span>icon</span> 在线课程
			<span class="pull-right"><%= link_to "更多>>", "#" %></span>
		</div>
		<div class="block">在线课程</div>
	</div>
	<div class="col-md-4">
		<div class="title-blue">
			<span class="glyphicon glyphicon-heart"></span> 心里咨询
			<span class="pull-right"><%= link_to "更多>>", "#" %></span>
		</div>
		<div class="block">心里咨询</div>
	</div>
	<div class="col-md-4">
		<div class="title-blue">
			<span>icon</span> 军友会
			<span class="pull-right"><%= link_to "更多>>", "#" %></span>
		</div>
		<div class="block">军友会</div>
	</div>
</div>