<div class="row">
	<div class="col-md-12">
		<div class="head-blue3">
			<div class="row">
				<div class="head-md col-xs-4 col-xs-offset-4"></div>
				<div class="head-r col-xs-4"><%= link_to "更多>>", "#" %></div>
			</div>
		</div>
		<div class="block clearfix">
			<div class="col-md-12">
				<p class="block-p"><span class="glyphicon glyphicon-usd"></span>&nbsp;&nbsp;创业众筹</p>

			</div>
		</div>
	</div>
</div>