/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "customize";
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #E7F0F6;
}
/**topbar**/
.my-navbar{
	padding-top: 10px;
	margin-top: 6px;
	border-top: 5px solid #618cb4;
	border-bottom: 5px solid #2b5276;
	.navbar-nav{
		li{
			padding: 4px 5px;
			border-right: 1px solid #618cb4;
			border-left: 2px solid #2b5276;
		}
		.navbar-first{
			border-left: none;
		}
		.navbar-last{
			border-right: none;
		}
		.active > a{
			border-radius: 5px;
		}
	}
	.navbar-right li{
		border: none;
	}
}
