/**定制bootstrap导航条样式**/
$navbar-height: 65px;
$navbar-margin-bottom: 20px;
$navbar-border-radius: 0px;
$navbar-default-bg: #2E6699;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: #2E6699;
$navbar-default-link-active-bg: #EDEDED;
$navbar-padding-vertical: 2.5px;
$navbar-default-border: 0px;
$navbar-default-link-hover-color: #ccc;