/**topbar**/
.my-navbar{
	padding-top: 10px;
	margin-top: 6px;
	border-top: 5px solid #618cb4 !important;
	border-bottom: 5px solid #2b5276 !important;
	.navbar-nav{
		li{
			padding: 4px 5px;
			border-right: 1px solid #618cb4;
			border-left: 2px solid #2b5276;
		}
		.navbar-first{
			border-left: none;
		}
		.navbar-last{
			border-right: none;
		}
		.active > a{
			border-radius: 5px;
		}
	}
	.navbar-right li{
		border: none;
	}
}

/**footer**/
.footer{
	height: 90px;
	background-color: #8d8d8d;
	.footer-info{
		width: 365px;
		margin: 0 auto;
		height: 90px;
		padding: 25px;
	}
}

/**模块容器block**/
.block{
	padding: 10px;
	padding-bottom: 20px;
	background-color: #fff;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-top: none;
	&:before{
		content: " ";
		display: table;
	}
	ul{
		padding-left: 20px;
		
	}
}
/**共用block块的head**/
.block-head{
	padding: 0 10px;
	color: #fff;
	background-color: #2E6699;
	a, a:hover{
		color: #fff;
		font-size: 10px;
		float: right;
	}
}
/**不规则head ( .head-blue2 < .block-head )**/
.head-blue2{
	@extend .block-head;
	height: 15px;
	line-height: 15px;
	.head-l{
		border-top: 185px solid #2E6699;
		border-right: 50px solid transparent;
		height: 35px;
		width: 185px;
	}
}
/**三色head ( .head-blue3 < .block-head )**/
.head-blue3{
	@extend .block-head;
	height: 20px;
	line-height: 20px;
	.head-md{
		height: 20px;
		background-color: #3b81c1;
	}
	.head-r{
		height: 20px;
		background-color: #4597e3;
	}
}
/**蓝色head ( .head-blue < .block-head )**/
.head-blue{
	@extend .block-head;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
}